<settings>
    <setting propertyKey="@Properties.displayMode" title="@Strings.displayModeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.modeCombined</listEntry>
            <listEntry value="1">@Strings.modeBg</listEntry>
            <listEntry value="5">@Strings.modeGraph</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.graphDuration" title="@Strings.graphDurationTitle">
        <settingConfig type="list">
            <listEntry value="30">30 min</listEntry>
            <listEntry value="60">60 min</listEntry>
            <listEntry value="90">90 min</listEntry>
            <listEntry value="120">120 min</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.bgLow" title="@Strings.bgLowTitle">
        <settingConfig type="list">
            <listEntry value="30">3.0</listEntry>
            <listEntry value="35">3.5</listEntry>
            <listEntry value="40">4.0</listEntry>
            <listEntry value="45">4.5</listEntry>
            <listEntry value="50">5.0</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.bgHigh" title="@Strings.bgHighTitle">
        <settingConfig type="list">
            <listEntry value="70">7.0</listEntry>
            <listEntry value="80">8.0</listEntry>
            <listEntry value="90">9.0</listEntry>
            <listEntry value="100">10.0</listEntry>
            <listEntry value="110">11.0</listEntry>
            <listEntry value="120">12.0</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.springaUrl" title="@Strings.springaUrlTitle">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.springaSecret" title="@Strings.springaSecretTitle">
        <settingConfig type="alphaNumeric" />
    </setting>
</settings>
